.threeCol {
    /*Safari*/
    -webkit-column-width: 100%;
    -webkit-column-count: 3;
    -webkit-column-rule: 1px solid lightblue;
    /*standard*/
    column-count: 3;
    column-width: 100%;

    column-rule: 1px solid lightblue;
}

ul.nobullet {
    list-style-type: none;
}

body {
    background-color: black;
    color: #f5bf42;
}

table {
    border-collapse: collapse;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
}

th {
    height: 50px;
    text-align: center;
    vertical-align: center;
    white-space: nowrap;
    border-right: 1px solid black;
}

th, td {

    /*white;*/
    padding-top: 1%;
    padding-bottom: 1%;
}

td {
    color: black;
    border-right: 1px solid gray;
    border-top: 1px solid black;
}

th {
    background-color: #f5bf42;
    color: black;
    font-size: large;
}


tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: white;
}



h1 {
    text-align: center;
    /*font-family: 'Lalezar', cursive;*/
    font-family: 'Londrina Solid', cursive;
}

.gif {
    margin-top: 5%;
    border-radius: 15px;
}


body {
    margin-top: 5%;
    font-family: 'Marvel', sans-serif;
}

footer {
    text-align: center;
    padding-bottom: 2%;
}

footer a {
    color: #f5bf42;
}

a:hover {
    color: white;
}

p {
    font-family: 'Marvel', sans-serif;
    color: #f5bf42;

}

p.bottom_comments a {
    color: #f5bf42;
}

p.bottom_comments a:hover {
    color: white;
}

.small {
    font-size: small;
}

.bottom_comments {
    text-align: center;
}
