body {
    margin: 5%;
    /*font-family: 'Marvel', sans-serif;*/
    background-color: black;
    background-image: url("images/flickr_stars.jpg");
    color: #f5bf42;
    font-family: 'Quantico', sans-serif;

}

table {
    border-collapse: collapse;
    text-align: center;
}

thead {
    height: 50px;
    color: black;
    background-color: #f5bf42;
    color: black;
    font-size: large;
}

tbody {
    color: black;
}

th {
    text-align: center;
    white-space: nowrap;
    border-right: 1px solid #9c7a2d;
    border-bottom: 1px solid #9c7a2d;
}

td {
    color: black;
    border-right: 1px solid gray;
    border-bottom: 1px solid black;
}

th, td {
    padding-top: 1%;
    padding-bottom: 1%;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: white;
}



h1 {
    text-align: center;
    /*font-family: 'Lalezar', cursive;*/
    font-family: 'Londrina Solid', cursive;
}

.gif {
    margin-top: 3%;
    font-family: 'Quantico', sans-serif;
    font-size: medium;
    width: 100%;
}



footer {
    background-color: black;
    text-align: center;
    padding-bottom: 2%;
}

footer a {
    color: #f5bf42;
}

a:hover {
    color: white;
}

p {
    background-color: black;
    /*font-family: 'Marvel', sans-serif;*/
    color: #f5bf42;

}

p.bottom_comments a {
    color: #f5bf42;
}

p.bottom_comments a:hover {
    color: white;
}

.small {
    font-size: small;
}

.bottom_comments {
    text-align: center;
}
